*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

img {
   max-width: 100%;
}

/* common style  */

.container {
    max-width: 1200px;
    margin: auto;
}

.common-btn {
    background-color: #fd6e0aFF;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.without-bg-btn {
    color: #fd6e0aFF;
    background-color: white;
    border: 1px solid #fd6e0aFF;
    
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.text-center {
    text-align: center;
}



/*============== main design starts from here  ==========*/

/* Header related design */
header{
    

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

nav .logo {
    font-size: 30px;
}

nav .nav-link {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link li a {
    text-decoration: none;
} 


/* hero part starts */
.hero-right-left-part {
    display: flex;
    align-items: center;
    
}

.hero-left-part {
    display: grid;
    row-gap: 20px;
}

.hero-left-part .first-p {
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-left-part .owner-name {
    font-size: 4rem;
    font-weight: 700;
}

.hero-left-part .second-p {
    font-size: 1rem;
    font-weight: 400;
}

.two-buttons {
    display: flex;
    gap: 20px;
}


/* about section starts */
.about-section{
    background-color: #fff8f2;
    margin-top: 160px;
    padding: 130px 150px;
    border-radius: 10px;
    display: grid;
    row-gap: 30px;
}

.about-section .about-title {
    font-size: 2rem;
    font-weight: 700;
} 

.about-section .about-info {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.btn-box {
    background-color: #ede7e2;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* what I do section */
.what-i-do-section {
    margin-top: 130px;
    display: grid;
    row-gap: 50px;
    margin-bottom: 130px;
}

.what-i-do-section .skill-title-des {
    display: grid;
    row-gap: 10px;
}

.skill-title-des .skill-title {
    font-weight: 700;
    font-size: 35px;
}

.skill-title-des .skill-des {
    font-size: 0.85rem;
}


.what-i-do-section .cards-parent {
    display: flex;
    gap: 24px;
    
}

.card {
    box-shadow: 0px 6px 50px 0px #0000000F; 
    border-radius: 10px;
    padding: 30px;
    display: grid;
    row-gap: 30px;
}

.card .multiple-icons {
    display: flex;
    gap: 10px;
}
/* what i do section ends  */



/* resume section starts from here  */
.resume-section {
    margin-bottom: 100px;
    display: grid;
    justify-items: center;
    row-gap: 50px;
}



.resume-section .whole-part {
    display: flex;
    gap: 70px;

}

.resume-section .whole-part .one-part {
    display: grid;
    row-gap: 20px;
    text-align: left;
}

.resume-section .whole-part .one-part {
    display: grid;
    row-gap: 20px;
}

.qualification-skills {
    display: grid;
    row-gap: 20px;
    
}


/* gallery section starts from here  */
.gallery {
    text-align: center;
    font-size: 1.5rem;
}

section>h3 {
    margin-bottom: 40px;
}

.gallery .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six"
    ;
}


.gallery .gallery-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-1 {
    grid-area: one;
}

.image-2 {
    grid-area: two;
}

.image-3 {
    grid-area: three;
}
.image-4 {
    grid-area: four;
}
.image-5 {
    grid-area: five;
}
.image-6 {
    grid-area: six;
}












